@media (max-width: 768px) {
        
    .logo-image {
        display: none;
    }
    
    .banner-image {
        max-height: 100px;
        margin-left: 0;
        margin-right: 0;
    }
}
