@media (max-width: 768px) {

    header {
        padding: 30px;
    }
    
    .logo-image {
        display: none;
    }
    
    .banner-image {
        max-height: 100px;
        margin-left: 0;
        margin-right: 0;
    }

    .main-tiles {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .tile {
        overflow: hidden;
        max-width: 100%;
        box-sizing: border-box;
    }

    .tile img {
        width: 100%;
        height: auto;
        max-width: 350px;
        margin: 0 auto;
        display: block;
    }

    .overlay {
        font-size: 30px;
        opacity: 1;
    }

    .flow-chart {
        max-width: 350px;
    }

    .back-button {
        padding: 2px;
        font-size: 10px;
        position: absolute;
        top: 135px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .shop-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .faq {
        max-width: 500px;
    }

    #content {
        font-size: 15px;
    }

    .album {
        width: 242px;
        height: 242px;
    }

}