header {
    background-color: #000620;
    padding: 5px;
}

body {
    background-color: #adb3c8;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.banner-image {
    max-height: 170px;
    margin-left: auto;
    margin-right: auto;
}

.logo-image {
    max-height: 170px;
    position: absolute;
    left: 0;
}